* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: #bed8ee;
  }

  /*hide elements to start*/
    .hide {   
      display: none;
    }

  .reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  }

  /* .very-top-part {
    display: flex;
    margin-top: 16px;
    margin-bottom: 10px;
    background: lightyellow;
    font-size: 25px;
  } */

  /*descending selector*/
  /* .very-top-part a{
    width: 80%;
    text-align: left;
   }
 
   .very-top-part div{
    width: 20%; 
   } */


  .options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
  }
  

  button {
    background: lightblue;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 5px 15px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  header {
    display: flex;
    /* justify-content:center; */
    padding: 30px;
    /* text-align: center; */
    /* background: #bed8ee; */
    color: black;
    border-bottom:5px #879274;
    /* width: 100%; */
    font-size: 20px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
  }

  header div{
    background: white;
    border-top: 15px;
    width: 100%;

  }
  
  main {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    flex-direction: column;
  }
  
  section {
    flex: 0 auto;
    padding: 0px;
    margin-top: 0px;
    background-color: #bed8ee;
    border-radius: 0px;
  
  } 

  /*align button text left*/
  .text-left {
    text-align: left;
  }
  

  .start-container,.quiz-container,  .done-container, .high-scores-container {
    background: white;
    border: 1px solid #eceff1;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin:10px;
    padding: 10px;
  } 

  /* .timer {
    height: 2px;
    padding: 10px;
    background: #13293d;
    color: #fff;
    text-align: right;
  }
  
  .timer-text {
    padding: 0px;
  } */

  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  }